<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="" binding="webHttpBinding" contract="GameStore.REST.Services.IProductService" behaviorConfiguration="web"></endpoint>
      <endpoint address="" binding="webHttpBinding" contract="GameStore.REST.Services.IOfferService" behaviorConfiguration="web"></endpoint>
      <endpoint address="" binding="webHttpBinding" contract="GameStore.REST.Services.IAuctionService" behaviorConfiguration="web"></endpoint>
      <endpoint address="http://localhost:54416/Services/LoginService.svc" binding="webHttpBinding" contract="GameStore.REST.Services.ILoginService" behaviorConfiguration="web" name="LoginEndpoint"></endpoint>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>