<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Magazyn .NET</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css" />
</head>
<body>
<div>
    @RenderBody()
</div>
    <script src="~/scripts/jquery-3.1.1.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
</body>
</html>